html, body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
  }
  canvas {
    display: block;
  }

  .canvas {
    background-color: white;
    width: 200px;
    height: 200px;
    position: relative;
  }